<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/static/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ .Title }}</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Z67DVHFVCM"
    ></script>
    <script dangerouslySetInnerHTML={{ __html: ` window.dataLayer =
    window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); gtag('config', 'G-Z67DVHFVCM', { page_path:
    window.location.pathname, }); `, }} ></script>
  </head>
  <body>
    <header>
      <div>
        <h2>
          <!-- We do not have a proper Home page yet, so we point to blog -->
          <a color="inherit" href="/blog">tsoobame</a>
        </h2>
        <div class="navbar-links">
          {{range $section := .Sections }}
          <button
            tabindex="0"
            type="button"
            {{
            if
            eq
            $section
            $.Section
            }}class="active"
            {{
            end
            }}
          >
            <a href="/{{$section}}" color="inherit">{{$section}}</a>
          </button>
          {{ end}}
        </div>
      </div>
    </header>

    <div class="container mx-auto px-4 pt-8">{{ .HTML }}</div>

    <footer>
      <div>
        <p>&copy; 2025 tsoobame. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
