<div class="mb-8">
  <!-- Hero Image -->
  <div class="mb-4 text-end">
    <img
      src="https://res.cloudinary.com/ddkok43g3/image/upload/w_auto,h_400,c_fill,g_auto,q_auto,f_auto/{{ index .Metadata "hero-image-url" }}"
      alt="{{ .Title }}"
      class="w-full h-[400px] object-cover rounded"
    />

    <!-- Tags -->
    <div class="mt-2">
      {{ range $tag := .Tags }}
        <a
          href="tags/{{ $tag }}.html"
          class="inline-block bg-[rgb(0,119,151)] text-white text-xs font-medium px-2 py-1 rounded me-1"
        >
          {{ $tag }}
        </a>
      {{ end }}
    </div>

    <!-- Author Credit -->
    <small class="text-gray-500 text-sm mt-2 inline-block">
      Photo by
      <a
        href="{{ index .Metadata "hero-image-author-url" }}"
        class="underline hover:text-[rgb(0,119,151)]"
        target="_blank"
        rel="noopener noreferrer"
      >
        "{{ index .Metadata "hero-image-author"  }}"
      </a>
    </small>
  </div>

  <!-- Post Content -->
  <article class="post-content">
    {{ .HTML }}
  </article>
  <div>
    <!-- TODO - USE | safeHTML when gengo makes the function available -->
    {{ index .ExternalData "comments" }}
  </div>
</div>
