<div class="row">
  <div class="text-end mb-4">
    <img
    src="https://res.cloudinary.com/ddkok43g3/image/upload/w_auto,h_400,c_fill,g_auto,q_auto,f_auto/v1747320153/{{index .Metadata "hero-image-url"}}" style="width: 100%; height: 400px; object-fit:
    cover" alt="{{.Title}}" />
    <div>
      {{ range $tag := .Tags}}
      <a
        href="tags/{{ $tag }}.html"
        class="badge bg-light text-dark border me-1"
        >{{ $tag }}</a
      >
      {{ end }}
      <small class="text-muted mt-2">
        Photo by
        <a
          href="{{ index .Metadata "hero-image-author-url"}}"
          class="text-decoration-none"
          target="_blank"
          rel="noopener noreferrer"
          >"{{ index .Metadata "hero-image-author"}}</a
        >
      </small>
    </div>
  </div>
  <div class="row">
    <article>{{ .HTML }}</article>
  </div>
</div>
